@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* font-family: 'Lexend Deca', sans-serif; */
.fa-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.con1, .con2, .con3{
    border: 0;
    width: 20%;
    height: 400px;
    padding: 27px;
    color:aliceblue;
    
}
.con1{
    background-color: #e28525;
}
.con2{
    background-color: #016972;
}
.con3{
    background-color: #00403f;
}

.logo{
    margin-bottom: 20px;
}

.para{
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 60px;
    
}

.intro{
    font-family: 'Big Shoulders Display', cursive;
    margin-bottom: 20px;
}

button{
    border-radius: 4rem;
    padding: 10px 15px;
    color:aliceblue;
    background-color: #e28525;
    border: 1px solid aliceblue;
}

.btn1 button{
   background-color: #e28525; 
}
.btn2 button{
    background-color: #016972;
}
.btn3 button{
    background-color: #00403f;
}

/* #btn2-fa {
    background-color: #016972;
} */